<div class="container">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header" *ngIf="imageData.uploadedBy && displayPostedBy"><small> Meme Master: {{imageData.uploadedBy.name}} </small> </div>
        
        <div class="card-body">
          <img class="card-img-top" [src]="defaultImage" alt="Card image cap">
          <hr>
          <br>
          <h6 *ngIf="imageData.favoriteCount >= 0" >Upvotes: {{imageData.favoriteCount}}</h6>
          <button *ngIf="displayFavoritesButton" class="btn btn-success" (click)="onFavoritesClicked()" >Upvote</button>
          <br><br>
          <button *ngIf="displayFollowButton" class="btn btn-primary" (click)="onFollowClicked()">Follow this memeMaster</button>
        </div>
        <div class="card-footer" *ngIf="imageData.creationDate">
      <small class="text-muted">Posted on: {{imageData.creationDate | date: 'MM/dd/yy'}}</small>
    </div>
      </div>
</div>